.section-notifications {
    width: 100%;
    display: flex;
  }
  .notifications-card {
    width: 25%;
    background-color: orange;
    border-radius: 10px;
    margin: 50px 20px;
    height: 25%;
  }
  
  .notifications-head {
    width: 100%;
    margin: auto;
    background-color: rgb(222, 146, 5);
    padding: 10px 25px;
    border-radius: 10px;
  }
  .notifications-head h6 {
    font-size: 18px;
  }
  .notifications-body {
    padding: 40px 20px;
  }
  .notifications-body h3 {
    font-size: 25px;
  }
  
  
  .notifications-footer i {
    font-size: 30px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    margin-left: 310px;
  }
  
  .notifications-footer i:hover {
    background-color: rgb(7, 101, 7);
    color: white;
  }
  .admin-panel {
    width: 100%;
    height: auto;
    display: flex;
  }
  
  .admin-panel-left {
    width: 25%;
    /* height: 100vh; */
    background-color: rgb(255, 158, 3);
  }
  
  .admin-panel-left-profil {
    width: 100%;
    /* background-color: yellow; */
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .admin-panel-left-profil img {
    width: 20%;
    border-radius: 100%;
  }
  
  .admin-panel-left-li {
    width: 100%;
    text-align: start;
    padding: 50px 30px;
  }
  
  .admin-panel-left li {
    margin-top: 15px;
    border: solid black 2px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 0.5s;
  }
  
  .admin-panel-left li:hover {
    background-color: rgb(26, 113, 184);
    color: white;
  }
  
  .admin-panel-left-li i {
    color: rgb(8, 7, 7);
  }
  
  .admin-panel-right {
    width: 75%;
  }
  
  .admin-panel-right {
    width: 100%;
    height: auto;
  }